@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: transparent;
    pointer-events: auto;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 30px;
    align-items: center;
    & .Links {
        display: flex;
        flex-direction: row;
        gap: 30px;
        & #contacts {
            margin-right: 60px;
        }
        & a {
            text-decoration: none;
            background-color: white;
            padding: 10px 20px;
            transition: all 0.3s;
            cursor: pointer;
            font-weight: 700;
            color: black;
            font-size: 22px;
            border-radius: 10px;
            position: relative;
            &:hover {
                background-color: rgb(197, 197, 197);
            }
        }
    }
    & .Logo {
        font-size: 1.4em;
        & h1 {
            transition: all 0.3s;
            cursor: pointer;
            &:hover {
                letter-spacing: 2px;
            }
        }
    }
    & .star-container {
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        & img {
            animation: spin 10s linear infinite;
            width: 38px;
            height: auto;
        }
    }
}