
@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.mobile-revellison-logo {
  display: none;
}

.hero-mobile {
  display: none;
}

.hero {
  width: 100%;
  height: 100vh;
  overflow: hidden; 
}


.ris {
    width: 200px;
    height: 80px;
    position: absolute;
    background-color: black;
    position: absolute;
    bottom: 0;
    right: 0;
}


.spline-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  color: white;
}

.hero-up {
  display: flex;
  flex-direction: row;
  width: 96%;
  height: 80%;
  justify-content: space-between;
}

.hero-up-left {
  display: flex;
  height: 100%;
  flex-direction: column;
  & .hero-up-left-top {
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    height: 50%;
    align-items: flex-start;
    justify-content: center;
    & .hero-up-left-top-text {
      font-weight: 400;
      font-size: 2.4em;
      letter-spacing: 3px;
      max-width: 780px;
    }
  }
  & .hero-up-left-bottom {
    display: flex;
    height: 50%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 15px;
  }
}

.hero-up-right {
  display: flex;
  flex-direction: column;
  & .hero-up-right-top {
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 15px;
  }
  & .hero-up-right-bottom {
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 40px;
    & .hero-up-right-bottom-links {
      font-weight: 600;
      font-size: 1.9em;
      letter-spacing: 3px;
      max-width: 780px;
    }
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    filter: blur(10px);
  }
  100% {
    opacity: 1;
    filter: blur(0px);
  }
}

  .hero-up-left-top, .hero-up-right-bottom{
  animation: fadeIn 4s ease-in-out;
}

.hero-up-left-bottom, .hero-up-right-top, header, .hero-down  {
  animation: fadeIn 2s ease-in-out;
}
.spline-background{
  animation: fadeIn 3s ease-in-out;
}

.xmark-hero-up-left-bottom {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

@media (max-width: 1250px) {
  .hero-up-left-top {
    height: 34%;
      & .hero-up-left-top-text {font-size: 1.7em !important;}
  }
  .hero-up-right-bottom {
      & .hero-up-right-bottom-links {font-size: 1.7em !important;}
  }
}

@media (max-width: 900px) {
  @keyframes scaleIn {
    0% {
      transform: scale(1.1)
    }
    
    100% {
      transform: scale(1.0);
    }
  }
  .hero-mobile {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
  }
  .hero-content {
    display: none;
  }
  .mobile-revellison-logo {
    display: block;
    position: absolute;
    width: 200px;
  }
  .spline-background {
   display: none;
  }
  .hero-up {
    flex-direction: column;
    height: 100%;
  }

  .mobile-hero-star {
    display: flex;
    animation: spin 10s linear infinite;
  }

  .top-text, .bottom-text {
    color: white;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    & a, p {
      animation: fadeIn 3s ease-in-out;
      font-size: 1.3em;
      text-decoration: none;
      color: white;
      @media (max-width: 360px) {
        font-size: 1.1em;
      }
    }
  }

  .top-text {
    align-items: left;
    padding-left: 5%;
    @media (max-height: 660px) {
      padding-top: 15%;
    }
    & a {
      text-align: left;
    }
  }

  .bottom-text {
    padding-right: 5%;
    align-items: flex-end;
    & .mobile-links {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
    & a {
      text-align: left;
    }
  }

  .logo {
    justify-content: space-between;
    flex-direction: row;
    display: flex;
    height: fit-content;
    animation: scaleIn 1.5s;
    & .logo-mobile-center {
      height: 200px;
      width: 200px;
      align-items: flex-end;
      display: flex;
    }
    & .logo-mobile-left {
      gap: 5px;
      animation: fadeIn 3s ease-in-out;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      padding-right: 10px;
    }
    & .logo-mobile-right {
      padding-left: 10px;
      animation: fadeIn 3s ease-in-out;
    }
  }
}
