

::selection {
  background: black;
  color: rgb(107, 107, 107);
}
::-moz-selection {
  background: black;
  color: rgb(107, 107, 107);
}

body {
  background-color: black;
  font-family: IBMPlexMono, sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  padding: 0;
  margin: 0;
}
