.xmark-container {
  text-align: center;
  animation: rotateInterrupted var(--animation-duration, 4s) ease-in-out infinite;
}

.xmark-img {
  width: 26px;
  text-align: center;
  height: 26px;
}

@keyframes rotateInterrupted {
  0% {
    transform: rotate(0deg);
  }
  12.5% {
    transform: rotate(180deg);
  }
  50% {
    transform: rotate(180deg);
  }
  62.5% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
